// Sizo Forms

fieldset
    margin 0 0 ( sz-base-spacing / 2) 0
    padding sz-base-spacing
    background lighten( sz-base-border-color, 10 )
    border sz-base-border

input
label
select
    display block
    font-family sz-form-font-family
    font-size sz-form-font-size

label
    margin-bottom sz-base-spacing / 4
    font-weight bold

    &.required:after
        content "*"

    abbr
        display none

textarea
{sz-all-texts-inputs-selector}
select[multiple=multiple]
    box-sizing border-box
    width 100%
    margin-bottom sz-base-spacing / 2
    padding ( sz-base-spacing / 3 ) ( sz-base-spacing / 3 )
    background-color white
    border-radius sz-form-border-radius
    border 1px solid sz-form-border-color
    box-shadow sz-form-box-shadow
    font-family sz-form-font-family
    font-size sz-form-font-size
    transition border-color

    &:hover
        border-color sz-form-border-color-hover

    &:focus
        border-color sz-form-border-color-focus
        box-shadow sz-form-box-shadow-focus
        outline none

textarea
    resize vertical

input[type="search"]
    appearance none

input[type="checkbox"]
input[type="radio"]
    display inline
    margin-right sz-base-spacing / 4


input[type="file"]
    width 100%
    padding-bottom sz-base-spacing / 2

select
    width auto
    max-width 100%
    margin-bottom $base-spacing

