$sz-button
    display: inline-block
    padding 0.75em 1em
    background-color sz-base-button-color
    border-radius sz-base-border-radius
    color white
    font-weight bold
    font-size sz-base-font-size
    line-height 1
    -webkit-font-smoothing antialiased
    text-decoration none

    &:hover
      background-color sz-hover-button-color
      color white

    &:disabled
        opacity 0.5
        cursor not-allowed
