table {
  width: 100%;
  margin: 0.75em 0;
  table-layout: fixed;
  border-collapse: collapse;
}
th {
  padding: 0.75em 0;
  border-bottom: 1px solid #b7b7b7;
  font-weight: bold;
  text-align: left;
}
td {
  padding: 0.75em 0;
  border-bottom: 1px solid #ddd;
}
tr,
td,
th {
  vertical-align: middle;
}
