// Sizo

// By default, only import kouto-swiss, core vars & sizo mixins.
// Since all components of sizo are outputing css code, users would choose to import what they wants

@import "kouto-swiss"

@import "vars"
